<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <header>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'about' %}">About</a> |
            <a href="{% url 'spiderman' %}">Spiderman</a> |
            <a href="{% url 'batman' %}">Batman</a> |
            <a href="{% url 'ironman' %}">Iron Man</a> |
            <a href="{% url 'wolverine' %}">Wolverine</a> |
            <a href="{% url 'deadpool' %}">Deadpool</a>
        </header>
        <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>