<div class="accordion" id="heroMisc">
  <div class="card">
    <div class="card-header" id="Description">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
          {{ object.name }}'s Bio:
        </button>
      </h2>
    </div>
    <div id="collapseDescription" class="collapse show" aria-labelledby="Description" data-parent="#heroMisc">
      <div class="card-body">
        {{ object.description }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="Strengths">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseStrengths" aria-expanded="false" aria-controls="collapseStrengths">
          {{ object.name }}'s Strengths:
        </button>
      </h2>
    </div>
    <div id="collapseStrengths" class="collapse" aria-labelledby="Strengths" data-parent="#heroMisc">
      <div class="card-body">
        {{ object.strength }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="Weaknesses">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseWeaknesses" aria-expanded="false" aria-controls="collapseWeaknesses">
          {{ object.name }}'s Weaknesses:
        </button>
      </h2>
    </div>
    <div id="collapseWeaknesses" class="collapse" aria-labelledby="Weaknesses" data-parent="#heroMisc">
      <div class="card-body">
        {{ object.weakness }}
      </div>
    </div>
  </div>
</div>