<div class="container text-center">
    <div class="card m-3">
        <div class="card-header">
            <h2> Hero - 
                {{ object.name }}
            </h2>
        </div>
        <div class="card-body">
            <p>
                <a href="edit/{{ object.pk }}" class="btn btn-primary">Edit</a>
                <a href="delete/{{ object.pk }}/" class="btn btn-primary">Delete {{ hero.name }}</a>           
            </p>
            <p>
                This page shows {{ object.name }}, also known as {{ object.identity }}.
            </p>
            {% if missing %}
                <p><i class="fa fa-user fa-2x p-3"></i></p>
            {% endif %}
            <img width="500" src="/static/images/{{ object.image }}.jpg" alt="{{ object.identity }}">
            {% include '_accordion.html' %}
        </div>
    </div>
</div>