{% extends 'page_theme.html' %}

{% block main %}
    <div class="container text-light bg-danger p-3">
        <h1>Home of "Heroes In Your Home"</h1>
        <div class="body-text bg-white text-dark p-3">
            <p>Hello, and welcome to "Heroes In Your Home." A place where we try to bring you the latest news of superheroes and villains, as it unfolds in our tiny place in the cosmos. Here, you can find not only editorial comments regarding the ongoings of heroes and villains, but also entertain yourself with the bios we've developed, pain-stakingly, over the years of ongoing conflict. You're welcome to put information about heroes that we have not yet listed, all on your own, through use of free membership to our site.</p>
            <p font-warning> We do ask you to remember, however, that any additions or changes will be recorded to your account. Any funny business, and you will find yourself banned.</p>
            <p>We don't do this to be bullies, but simply to ensure your protection: after all, we do not want to be held liable if you were to insult Wolverine on a bad day, resulting in grevious wounding, bruising, or other such side-effects by a personal visit. After all, while heroes will do everything they can to ensure that nothing happens to us on the whole, there are some who have a more... lenient view on what's considered an acceptable response. We will, however, happily take credit on the fact that it was through our website that you managed to get the attention of one of the many heroes that populate our world.</p>
        </div>
    </div>
    
{% endblock main %}