<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Inheritance</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
    </head>
    <body class="bg-dark text-light">
        {% block content %}

            {% block header %}
                {% include '_header.html' %}
            {% endblock header %}
           
            <div class="container">
                {% block main %}
                {% endblock main %}
            </div>

            {% include '_footer.html' %}
        {% endblock content %}
    </body>
</html>