{% extends 'theme.html' %}


{% block main %}
    <main class="text-darl">
        <div class="container py-5">
            <h1 class='text-light'>Workshop</h1>
            <ul>
               <li><a href="accordion">Accordion View</a></li>
                <li><a href="card">Card View</a></li>
                <li><a href="cards">Cards View</a></li>
                <li><a href="carousel">Carousel View</a></li>
                <li><a href="doc/README.md">Doc View</a></li>
                <li><a href="doc/TEST.md">Test View</a></li>
                <li><a href="table">Table View</a></li>
                <li><a href="tabs">Tabs View</a></li>
                <li><a href="super">Super View</a></li>
            </ul>
        </div>
    </main>
{% endblock main %}