{% extends 'page_theme.html' %}


{% block user %}
{% endblock user %}


{% block main %}

<!--    <div class="container">-->
                <div class="container text-center">
                    <div class="card m-3">
                        <div class="card-header">
                            <h2>Log In</h2>
                        </div>
                        <div class="card-body">
                             <form method="post">
                                  {% csrf_token %}
                                  {{ form.as_p }}

                                  <button type="submit" class="btn btn-primary text-light p-3 m-3">
                                      Log In
                                  </button>
                                  <a href="{% url 'signup' %}" class="btn btn-primary text-light p-3 m-3">
                                      Sign Up
                                  </a>
                            </form>
                        </div>
                    </div>
                </div>

{% endblock main %}