{% extends 'page_theme.html' %}

{% block main %}
    <div class="container text-dark bg-light p-3">
        <h1>Home of the developing programmer Stephen Provost</h1>
        <div class="body-text bg-dark text-light p-3">
            <p>Hello, and welcome to the website where we talk about what's important: the future. Also, me. But mostly, the future. Maybe, even, my future.</p>
            <p>All joking aside, this will be a repository: for my ideas, works, and development as I work to improve myself towards the future. I will have links to my Github, my LinkedIn, and I will also have an (admittedly) poor forum upon which people can write ideas that they can suggest for me to code. This is to provide additional motivation, as well as to provide additional ideas for me to work upon, beyond simply working on leetcode.com.</p>
            <p>In other news, beyond those previously stated ideas, I will also be building up the ideas and code for my own personal game - a passion project of mine - with its name, admittedly, pending; additionally, I am working on a different game with Kevin Ritter, link included here to his own website, a good friend and an even gooder coder. Yes, gooder. Not better.</p>
        </div>
    </div>
    
{% endblock main %}